target/
!.mvn/wrapper/maven-wrapper.jar
/help.md
.mvn/
.gradle/
build/
bin/
*.class
*.jar
*.war
*.ear
*.log
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
.env
application-local.yml
application-dev.yml
*.ps1
